<!DOCTYPE html>
<html>
  <head>
    <title>Exercício Recuperação FIAP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Meu App Demo</h1>
    <p>Bem vindo ao meu App de Teste</p>
  </body>
</html>
